<div data-bind='with: $data.data()'>
    <strong data-bind='text: $data.header'></strong>
    <div class='row'>
        <div class='col-md-3'>
            <strong>On:</strong>
        </div>
        <div class='col-md-9'>
            <div data-bind='text: $data.madeOnDisplay()'></div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'>
            <strong>Change Type:</strong>
        </div>
        <div class='col-md-9'>
            <div data-bind='text: $data.changeType()'></div>
        </div>
    </div>
    <div class='row' data-bind='visible: $data.fieldVisible'>
        <div class='col-md-3'>
            <strong>Field:</strong>
        </div>
        <div class='col-md-9'>
            <div data-bind='text: $data.fieldDisplay()'></div>
        </div>
    </div>
<div class='row'>
        <div class='col-md-3'>
            <strong>Change Made By:</strong>
        </div>
        <div class='col-md-9'>
            <div data-bind='text: $data.madeByDisplay'></div>
        </div>
    </div>
    <div class='row' data-bind='visible: $data.changeVisible'>
        <div class='col-md-3'>
            <strong>Change:</strong>
        </div>
        <div class='col-md-9'>
            <div data-bind='text: changeDisplay'></div>
        </div>
    </div>
</div>
