<div data-bind='with: $data.data()'>
    <div data-bind='visible: $data.isOpenForEdit()'>
        <!-- Comments Add -->
        <div class='form-group' data-bind='validationElement: $data.text'>
            <label class='control-label'>
                <span class="glyphicon glyphicon-comment"></span>
                Comment:</label>
            <textarea class='form-control' data-bind='value: $data.text'></textarea>
        </div>
        <div>
            <a class='btn btn-primary' data-bind='click: save' href='#'>Save</a>
            <a class='btn btn-default' data-bind='click: cancel' href='#'>Cancel</a>
        </div>
    </div>
    <div data-bind='visible: !$data.isOpenForEdit()'>
        <!-- Comments edit -->
        <span>
            <span class="glyphicon glyphicon-comment"></span>
            <strong data-bind='text: $data.header'></strong>
        </span>
        <pre data-bind='text: $data.text'></pre>
    </div>
</div>
