<div data-bind='with: $root.complaint()'>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            Complaint Information
            <a class='btn btn-default' data-bind='click: edit, visible: !$data.isOpenForEdit()'>Edit</a>
            <a class='btn btn-default' data-bind='click: save, visible: $data.isOpenForEdit()' href='#'>Save</a>
            <a class='btn btn-default' data-bind='click: cancel, visible: $data.isOpenForEdit()' href='#'>Cancel</a>
        </div>
        <div class='panel-body' data-bind='visible: !$data.isOpenForEdit()'>
            <!-- {{{ base complaint information -->  
            <div class='row'>
                <div class='col-md-3'><strong>Complainer Name:</strong></div>
                <div class='col-md-9'>
                    <span data-bind='text: $data.complainerName'></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-3'><strong>Status:</strong></div>
                <div class='col-md-9'>
                    <span data-bind='text: $data.status'></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-3'><strong>Product:</strong></div>
                <div class='col-md-9'>
                    <span data-bind='text: $data.product'></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-3'><strong>Subproduct:</strong></div>
                <div class='col-md-9'>
                    <span data-bind='text: $data.subProduct'></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-3'><strong>Issue Type:</strong></div>
                <div class='col-md-9'>
                    <span data-bind='text: $data.issueType'></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-3'><strong>Sub Issue Type:</strong></div>
                <div class='col-md-9'>
                    <span data-bind='text: $data.subIssueType'></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-3'><strong>State:</strong></div>
                <div class='col-md-9'>
                    <span data-bind='text: $data.state'></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-3'><strong>Zip:</strong></div>
                <div class='col-md-9'>
                    <span data-bind='text: $data.zip'></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-3'><strong>Submitted Via:</strong></div>
                <div class='col-md-9'>
                    <span data-bind='text: $data.submittedVia'></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-3'><strong>Date Received:</strong></div>
                <div class='col-md-9'>
                    <span data-bind='text: $data.dateReceived'></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-3'><strong>Date Response Sent:</strong></div>
                <div class='col-md-9'>
                    <span data-bind='text: $data.dateResponseSent'></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-3'><strong>Company Response Note:</strong></div>
                <div class='col-md-9'>
                    <pre data-bind='text: $data.companyResponseNote'></pre>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-3'><strong>Timely Response:</strong></div>
                <div class='col-md-9'>
                    <span data-bind='text: $data.timelyResponse'></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-3'><strong>Consumer Disputed:</strong></div>
                <div class='col-md-9'>
                    <span data-bind='text: $data.consumerDisputed'></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-3'><strong>Text:</strong></div>
                <div class='col-md-9'>
                    <pre data-bind='text: $data.text'></pre>
                </div>
            </div>
            <!-- }}} -->
        </div>
        <div class='panel-body' data-bind='visible: $data.isOpenForEdit'>
            <div>
                <strong>Personal information, such as credit card numbers, account numbers, and social security numbers, from the complainant should never be entered into the complaint.</strong>
            </div>
            <hr/>
            <!-- {{{ edit base complaint information -->
            <div class='row form-group' data-bind='validationElement: $data.complainerName'>
                <div class='col-md-3'><label class='control-label' for='complainerName'>Complainer Name:</label></div>
                <div class='col-md-9'>
                    <input class='form-control' data-bind='value: $data.complainerName, valueUpdate: "keyup"' id='complainerName' placeholder='Enter name' type='text'/>
                </div>
            </div>
            <div class='row form-group' data-bind='validationElement: $data.status'>
                <div class='col-md-3'><label class='control-label' for='status'>Status:</label></div>
                <div class='col-md-9'>
                    <select class='form-control' data-bind='options:$data.possibleStatuses, value: $data.status, optionsCaption: "Choose one..."'></select>
                </div>
            </div>
            <div class='row form-group' data-bind='validationElement: $data.product'>
                <div class='col-md-3'><label class='control-label' for='product'>Product:</label></div>
                <div class='col-md-9'>
                    <select class='form-control' data-bind='options:$data.possibleProducts, value: $data.product, optionsCaption: "Choose one..."'></select>
                </div>
            </div>
            <div class='row form-group' data-bind='validationElement: $data.subProduct'>
                <div class='col-md-3'><label class='control-label' for='subProduct'>Subproduct:</strong></div>
                <div class='col-md-9'>
                    <select class='form-control' data-bind='options:$data.possibleSubProducts, value: $data.subProduct, optionsCaption: "None Selected"'></select>
                </div>
            </div>
            <div class='row form-group' data-bind='validationElement: $data.issueType'>
                <div class='col-md-3'><label class='control-label' for='issueType'>Issue Type:</label></div>
                <div class='col-md-9'>
                    <select class='form-control' data-bind='options:$data.possibleIssues, value: $data.issueType, optionsCaption: "Choose one..."'></select>
                </div>
            </div>
            <div class='row form-group' data-bind='validationElement: $data.subIssueType'>
                <div class='col-md-3'><label class='control-label' for='subIssueType'>Sub Issue Type:</label></div>
                <div class='col-md-9'>
                    <select class='form-control' data-bind='options:$data.possibleSubIssues, value: $data.subIssueType, optionsCaption: "None Selected"'></select>
                </div>
            </div>
            <div class='row form-group' data-bind='validationElement: $data.state'>
                <div class='col-md-3'><label class='control-label' for='state'>State:</label></div>
                <div class='col-md-9'>
                    <input class='form-control' data-bind='value: $data.state, valueUpdate: "keyup"' id='state' placeholder='Enter state' type='text'/>
                </div>
            </div>
            <div class='row form-group' data-bind='validationElement: $data.zip'>
                <div class='col-md-3'><label class='control-label' for='zip'>Zip:</label></div>
                <div class='col-md-9'>
                    <input class='form-control' data-bind='value: $data.zip, valueUpdate: "keyup"' id='zip' placeholder='Enter ZIP' type='text'/>
                </div>
            </div>
            <div class='row form-group' data-bind='validationElement: $data.submittedVia'>
                <div class='col-md-3'><label class='control-label' for='submittedVia'>Submitted Via:</label></div>
                <div class='col-md-9'>
                    <select class='form-control' data-bind='options:$data.possibleSubmissions, value: $data.submittedVia, optionsCaption: "Choose One..."'></select>
                </div>
            </div>
            <div class='row form-group' data-bind='validationElement: $data.dateReceived'>
                <div class='col-md-3'><label class='control-label' for='dateReceived'>Date Received:</label></div>
                <div class='col-md-7'>
                    <div class='input-group date' data-bind='datePicker: {value: $data.dateReceived, format:"MM/DD/YYYY"}'>
                        <input class='form-control' data-bind='value: $data.dateReceived' type='text'/>
                        <span class='input-group-addon'>
                            <span class='glyphicon glyphicon-calendar'></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class='row form-group' data-bind='validationElement: $data.dateResponseSent'>
                <div class='col-md-3'><label class='control-label' for='dateResponseSent'>Date Response Sent:</label></div>
                <div class='col-md-7'>
                    <div class='input-group date' data-bind='datePicker: {value: $data.dateResponseSent, format:"MM/DD/YYYY"}'>
                        <input class='form-control' data-bind='value: $data.dateResponseSent' type='text'/>
                        <span class='input-group-addon'>
                            <span class='glyphicon glyphicon-calendar'></span>
                        </span>
                    </div>
                </div>
                <div class='col-md-1'>
                    <a class='btn-sm btn btn-warning' data-bind='click: clearDateResponseSent' href='#'>Clear</a>
                </div>
            </div>
            <div class='row form-group' data-bind='validationElement: $data.companyResponseNote'>
                <div class='col-md-3'><label class='control-label' for='companyResponseNote'>Company Response Note:</label></div>
                <div class='col-md-9'>
                    <textarea class='form-control' data-bind='value: $data.companyResponseNote, valueUpdate: "keyup"' id='companyResponseNote' placeholder='Enter company response note' type='text'/>
                </div>
            </div>
            <div class='row form-group' data-bind='validationElement: $data.timelyResponse'>
                <div class='col-md-3'><label class='control-label' for='timelyResponse'>Timely Response:</label></div>
                <div class='col-md-9'>
                    <div class='btn-group' role='group'>
                        <a href='#' data-bind='click:function(){ $data.timelyResponse("Yes");}, css:{"btn-primary":$data.timelyResponse() === "Yes"}' class='btn btn-default'>Yes</a>
                        <a href='#' data-bind='click:function(){ $data.timelyResponse("No");}, css:{"btn-primary":$data.timelyResponse()==="No"}' class='btn btn-default'>No</a>
                        <a href='#' data-bind='click:function(){ $data.timelyResponse(null);}, css:{"btn-primary":!$data.timelyResponse()}' class='btn btn-default'>Not Set</a>
                    </div>
                </div>
            </div>
            <div class='row form-group' data-bind='validationElement: $data.consumerDisputed'>
                <div class='col-md-3'><label class='control-label' for='consumerDisputed'>Consumer Disputed:</label></div>
                <div class='col-md-9'>
                    <div class='btn-group' role='group'>
                        <a href='#' data-bind='click:function(){ $data.consumerDisputed("Yes");}, css:{"btn-primary":$data.consumerDisputed() === "Yes"}' class='btn btn-default'>Yes</a>
                        <a href='#' data-bind='click:function(){ $data.consumerDisputed("No");}, css:{"btn-primary":$data.consumerDisputed()==="No"}' class='btn btn-default'>No</a>
                        <a href='#' data-bind='click:function(){ $data.consumerDisputed(null);}, css:{"btn-primary":!$data.consumerDisputed()}' class='btn btn-default'>Not Set</a>
                    </div>
                </div>
            </div>
            <div class='row form-group' data-bind='validationElement: $data.text'>
                <div class='col-md-3'><label class='control-label' for='text'>Text:</label></div>
                <div class='col-md-9'>
                    <textarea class='form-control' data-bind='value: $data.text, valueUpdate: "keyup"' id='text' placeholder='Enter complaint' type='text'/>
                </div>
            </div>
            <!-- }}} -->
            <div class='row'>
                <div class='col-md-12'></div>
            </div>
        </div>
        <div class='panel-footer'>
            Complaint Information
            <a class='btn btn-default' data-bind='click: edit, visible: !$data.isOpenForEdit()'>Edit</a>
            <a class='btn btn-default' data-bind='click: save, visible: $data.isOpenForEdit()' href='#'>Save</a>
            <a class='btn btn-default' data-bind='click: cancel, visible: $data.isOpenForEdit()' href='#'>Cancel</a>
        </div>
    </div>
    <div class='panel panel-default' data-bind='visible: $data.commentsAndChangesVisible'>
        <div class='panel-heading'>
            Comments/Changes
            <a class='btn btn-default' data-bind='click: addComment' href='#'>Add Comment</a>
        </div>
        <div class='list-group'>
            <!-- ko foreach: $data.mixed -->
            <div class='list-group-item'>
                <div data-bind='template: $data.type()'></div>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>
<script id='comment' type='text/html'>
    <% include comment %>
</script>
<script id='change' type='text/html'>
    <% include change %>
</script>
