<!-- Complaints list-->
<div class="navbar navbar-static-top navbar-default">
    <div class="">
        <div class="navbar-header">
            <h4 class='offcanvas-nav-header'>
                <span>Complaints</span>
            </h4>
        </div>
    </div>
</div>
<div class='container-fluid' data-bind='with: $root.complaintList'>
    <div class='text-center' data-bind='visible: !$data.firstBindComplete()'>
        <span>Please wait...</span>
    </div>
    <div data-bind='visible: $data.firstBindComplete()' style='display:none'>
        <div class='listview'>
            <div class='row'>
                <div class='col-xs-12'>
                    <ol>
                        <li>
                            When receiving information on a complaint, establish if the complainant has already registered the complaint. If this communication is by phone, ask the complainant "Is this your first call on this complaint?".
                        </li>
                        <li>
                        Search for the complainants name.  If the complaint is found for the complainant, update the complaint with any new information from the communication or phone call. Optionally, according to your policies, inform the complainant that the issue has been assigned to a complaint manager and that they may expect a response within 15 days from when the complaint was originally registered, and that the goal is to resolve the issue within 60 days.
                        </li>
                        <li>
                            If no complaint was found in the previous step, register a new complaint.
                        </li>
                    </ol>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-8'>
                    <input class='form-control input-md' data-bind='value: $data.search, valueUpdate:"keyup"' placeholder='Enter search term...' type='text'/>
                </div>
                <div class='col-xs-4'>
                    <div class='pull-right'>
                        <a class='btn btn-primary btn-sm' href='/complaint/new'>
                            <span class="glyphicon glyphicon-plus"></span>
                            Add Complaint</a>
                    </div>
                </div>
            </div>
            <div class='list-group' data-bind='visible: !$data.processing()'>
                <div class="table-responsive hidden-xs">
                    <table class='table table-striped'>
                        <thead>
                            <tr>
                                <th>Complainant</th>
                                <th>Status</th>
                                <th>Submitted Via</th>
                                <th>Issue Type</th>
                                <th>Product</th>
                                <th>
                                    <span class='glyphicon glyphicon-comment'></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind='foreach: $data.visibleRows()'>
                            <tr>
                                <td style="white-space: nowrap;">
                                    <a data-bind='attr:{href: "/complaint/"+$data._id()}'>
                                        <span data-bind='text: $data.complainerName'></span>
                                    </a>
                                </td>
                                <td style="white-space: nowrap;">
                                    <span data-bind='text: $data.status'></span>
                                </td>
                                <td>
                                    <span data-bind='text: $data.submittedVia'></span>
                                </td>
                                <td>
                                    <span data-bind='text: $data.issueType'></span>
                                </td>
                                <td>
                                    <span data-bind='text: $data.product'></span>
                                </td>
                                <td>
                                    <span data-bind='text: $data.comments().length'></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class='hidden-lg hidden-md hidden-sm list-group container-fluid' data-bind='foreach: $data.visibleRows()' style='padding-top:8px;padding-left:15px'>
                    <div class='row list-group-item'>
                        <div class='row'>
                            <div class='col-xs-3'><strong>Complainant:</strong></div>
                            <div class='col-xs-6'>
                                <a data-bind='attr:{href: "/complaint/"+$data._id()}'>
                                    <span data-bind='text: $data.complainerName'></span>
                                </a>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-xs-3'><strong>Status:</strong></div>
                            <div class='col-xs-6'>
                                <span data-bind='text: $data.status'></span>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-xs-3'><strong>Submitted Via:</strong></div>
                            <div class='col-xs-6'>
                                <span data-bind='text: $data.submittedVia'></span>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-xs-3'><strong>Issue Type:</strong></div>
                            <div class='col-xs-6'>
                                <span data-bind='text: $data.issueType'></span>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-xs-3'><strong>Product:</strong></div>
                            <div class='col-xs-6'>
                                <span data-bind='text: $data.product'></span>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-xs-3'><strong>Comments:</strong></div>
                            <div class='col-xs-6'>
                                <span data-bind='text: $data.comments().length'></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-bind='visible:$data.processing()'>
            <div class='text-center'>
                <span>Please wait..</span>
            </div>
        </div>
        <div class='text-center'>
            <br/>
            <br/>
            <br/>
            <div data-bind='visible: !$data.processing()'>
                <div class='media'>
                    Showing
                    <span data-bind='text: $data.from()'></span>
                    to
                    <span data-bind='text: $data.to()'></span>
                    of
                    <span data-bind='text: $data.filteredRecords()'></span>
                    (<span data-bind='text: $data.totalRecords()'></span>
                    total)
                </div>
            </div>
            <ul class='pagination'>
                <li data-bind='click: $data.first, css: {disabled: $data.processing()}'>
                    <span class="glyphicon glyphicon-fast-backward"></span>
                </li>
                <li data-bind='click: $data.previous, css: {disabled: $data.processing()}'>
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </li>
                <!-- ko foreach: $data.selectablePages() -->
                <li data-bind='css:{active: $data === $root.complaintList().selectedPage(), disabled: $root.complaintList().processing()}'>
                    <a data-bind='click: function(){$root.complaintList().pageSelect($data);}' href='#'>
                        <span data-bind='text: $data'></span>
                    </a>
                </li>
                <!-- /ko -->
                <li data-bind='click: $data.next, css: {disabled: $data.processing()}'>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </li>
                <li data-bind='click: $data.last, css: {disabled: $data.processing()}'>
                    <span class="glyphicon glyphicon-fast-forward"></span>
                </li>
            </ul>
        </div>
    </div>
    <!-- <pre data-bind='text: JSON.stringify(ko.toJS($data.visibleRows), null, 2)'></pre> -->
</div>
