<div data-bind='with: $root.forgotPassword' class='container-fluid'>
    <h3>Please submit your email to reset password.</h3>
    <div class='form-group' data-bind='validationElement: $data.email'>
        <label class='control-label' for='complainerName'>Email:</label>
        <input class='form-control' data-bind='value: $data.email, valueUpdate: "keyup"' placeholder='Enter Email' type='text'/>
    </div>
    <div>
        <a href='#' data-bind='click: submit' class='btn btn-primary'>Submit</a>
        <a href='/login' class='btn btn-default'>Log In</a>
    </div>
</div>
