<div class='container-fluid'>
    <h3>Thank you.</h3>
    <div>
        A password reset email has been sent to you.
    </div>
    <div>
        <a href='/login' class='btn btn-primary'>Log In</a>
    </div>
</div>
