<div data-bind='with: $data.alerts'>
        <h4>Alerts</h4>
        <div data-bind='visible: $data.alertList().length == 0'>
            <div>No alerts at this time.</div>
        </div>
        <div data-bind='visible: $data.alertList().length > 0'>
            <!-- ko foreach: $data.displayList -->
                <div class='md' data-bind='css:{"alert-info":$data.alertClass()==="alert-info", "alert":true, "alert-dismissible":true}'>
                    <button type='button' class='close' data-dismiss='alert' aria-label='Close' data-bind='click: $data.dismiss'>
                        <span aria-hidden=true'>Dismiss</span>
                    </button>
                    <span data-bind='html: $data.renderedMarkdown'></span>
                </div>
            <!-- /ko -->
        </div>
        <div data-bind='visible: $data.hasMore()'>
            <span>... and <span data-bind='visible: $data.hasMore, text: $data.howManyMore()'></span> more.</span>
            <a href='/alerts'>See all...</a>
        </div>
</div>
