<div data-bind='with: $data.auxiliaryDocuments'>
    <h4>Recent Auxiliary Document Changes</h4>
    <div data-bind='visible: $data.fileList().length > 0'>
        <div class='list-group' data-bind='foreach: $data.fileList()'>
            <div class='list-group-item'>
                <div class='row'>
                    <div class='col-md-9'>
                        <div>
                            <b>
                                <span data-bind='text: $data.displayName()'></span>
                            </b>
                        </div>
                        <div>
                            <i data-bind='text: $data.lastModifiedDisplay()'></i>
                        </div>
                        <div>
                            <span data-bind='text: $data.description'></span>
                        </div>
                    </div>
                    <div class='col-md-3'>
                        <div class='pull-right'>
                            <a class='btn btn-primary btn-sm' data-bind='attr:{href: $data.href()}'>Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span data-bind='visible: $data.howManyMore() > 0'>
            ... and
            <span data-bind='text:$data.howManyMore()'></span>
            more.
        </span>
        <a href='/auxiliaryDocuments'>See all auxiliary documents...</a>
    </div>
    <div data-bind='visible: $data.fileList().length == 0'>
        <span>No recent auxiliary document changes found.</span>
        <a href='/auxiliaryDocuments'>See all auxiliary documents...</a>
    </div>
</div>
