<div data-bind='with: $data.complaints'>
    <h4>Recent Complaint Changes</h4>
    <div data-bind='visible: $data.complaints().length > 0'>
        <div class="table-responsive hidden-xs">
            <table class='table table-striped'>
                <thead>
                    <tr>
                        <th>Complainant</th>
                        <th>Status</th>
                        <th>Submitted Via</th>
                        <th>Issue Type</th>
                        <th>Product</th>
                        <th>
                            <span class='glyphicon glyphicon-comment'></span>
                        </th>
                    </tr>
                </thead>
                <tbody data-bind='foreach: $data.complaints()'>
                    <tr>
                        <td style="white-space: nowrap;">
                            <a data-bind='attr:{href: "/complaint/"+$data._id()}'>
                                <span data-bind='text: $data.complainerName'></span>
                            </a>
                        </td>
                        <td style="white-space: nowrap;">
                            <span data-bind='text: $data.status'></span>
                        </td>
                        <td>
                            <span data-bind='text: $data.submittedVia'></span>
                        </td>
                        <td>
                            <span data-bind='text: $data.issueType'></span>
                        </td>
                        <td>
                            <span data-bind='text: $data.product'></span>
                        </td>
                        <td>
                            <span data-bind='text: $data.comments().length'></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class='hidden-lg hidden-md hidden-sm list-group' data-bind='foreach: $data.complaints()' style='padding-top:8px'>
            <div class='row list-group-item'>
                <div class='row'>
                    <div class='col-xs-3'><strong>Complainant:</strong></div>
                    <div class='col-xs-6'>
                        <a data-bind='attr:{href: "/complaint/"+$data._id()}'>
                            <span data-bind='text: $data.complainerName'></span>
                        </a>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-xs-3'><strong>Status:</strong></div>
                    <div class='col-xs-6'>
                        <span data-bind='text: $data.status'></span>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-xs-3'><strong>Submitted Via:</strong></div>
                    <div class='col-xs-6'>
                        <span data-bind='text: $data.submittedVia'></span>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-xs-3'><strong>Issue Type:</strong></div>
                    <div class='col-xs-6'>
                        <span data-bind='text: $data.issueType'></span>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-xs-3'><strong>Product:</strong></div>
                    <div class='col-xs-6'>
                        <span data-bind='text: $data.product'></span>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-xs-3'><strong>Comments:</strong></div>
                    <div class='col-xs-6'>
                        <span data-bind='text: $data.comments().length'></span>
                    </div>
                </div>
            </div>
        </div>
        <span data-bind='visible: $data.howManyMore() > 0'>
            ... and
            <span data-bind='text:$data.howManyMore()'></span>
            more.
        </span>
        <a href='/complaints'>See all complaints...</a>
    </div>
    <div data-bind='visible: $data.complaints().length == 0'>
        <span>No recent complaint changes found.</span>
        <a href='/complaints'>See all complaints...</a>
    </div>
</div>