<div data-bind='with: $root.dashboard'>
    <div class="row-offcanvas wrapper" data-bind='css:{active: $data.offCanvasActive()}'>
        <div class="navbar navbar-static-top navbar-default">
            <div class="">
                <div class="navbar-header">
                    <button class="navbar-toggle" style="float:left; margin-left: 10px" type="button" data-bind='click: function(){$data.offCanvasActive(!$data.offCanvasActive())}'>
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h4 class='offcanvas-nav-header' >Dashboard</h4>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-2 sidebar-offcanvas" data-bind='css:{active: $data.offCanvasActive()}'>
                    <div class='sidebar-offcanvas-height' data-bind='heightHack: {height: "html", offset: 95}'>
                        <ul class="nav nav-pills nav-stacked">
                            <li data-bind='css: {active: $data.selectedSection() === "My Outstanding Items"}'><a data-bind='click: function(){$data.selectedSection("My Outstanding Items");}' href="#">My Outstanding Items</a></li>
                            <li data-bind='css: {active: $data.selectedSection() === "Alerts"}'><a data-bind='click: function(){$data.selectedSection("Alerts");}' href="#">Alerts</a></li>
                            <li data-bind='css: {active: $data.selectedSection() === "Complaints"}'><a data-bind='click: function(){$data.selectedSection("Complaints");}' href="#">Complaints</a></li>
                            <li data-bind='css: {active: $data.selectedSection() === "Auxiliary Documents"}'><a data-bind='click: function(){$data.selectedSection("Auxiliary Documents");}' href="#">Auxiliary Documents</a></li>
                            <li data-bind='visible: $root.auth().canAdministerUsers(), css: {active: $data.selectedSection() === "Employee Outstanding Items"}'><a data-bind='click: function(){$data.selectedSection("Employee Outstanding Items");}' href="#">Employee Outstanding Items</a></li>
                            <li data-bind='visible: $root.auth().canAdministerUsers(), css: {active: $data.selectedSection() === "Employee Activity"}'><a data-bind='click: function(){$data.selectedSection("Employee Activity");}' href="#">Employee Activity</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-10">
                    <div data-bind='visible: $data.selectedSection() === "My Outstanding Items"'>
                        <% include userStatus/status %>
                    </div>
                    <div data-bind='visible: $data.selectedSection() === "Alerts"'>
                        <% include alerts %>
                    </div>
                    <div data-bind='visible: $data.selectedSection() === "Complaints"'>
                        <% include complaints %>
                    </div>
                    <div data-bind='visible: $data.selectedSection() === "Auxiliary Documents"'>
                        <% include auxiliaryDocuments %>
                    </div>
                    <div data-bind='visible: $data.selectedSection() === "Employee Outstanding Items"'>
                        <% include adminStatus/adminStatus %>
                    </div>
                    <div data-bind='visible: $data.selectedSection() === "Employee Activity"'>
                        <% include adminStatus/adminActivity %>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
