<div>
    <h4>Workflows</h4>
    <ul data-bind='foreach: $data.workflows()'>
        <li>
            <a data-bind='attr:{href: "/workflow/"+$data._id()}'>
                <span data-bind='text: $data.name'></span>
            </a>
        </li>
    </ul>
</div>