<div data-bind='with: $root.userToEdit'>
    <div class="navbar navbar-static-top navbar-default">
        <div class="">
            <div class="navbar-header">
                <h4 class='offcanvas-nav-header'>
                    <span>User Edit</span>
                </h4>
            </div>
        </div>
    </div>
    <div class='container-fluid' data-bind='visible: !$data.removed()'>
        <div class='row'>
            <div class='col-md-12'>
                <div class='form-group' data-bind='validationElement: $data.email'>
                    <label class='control-label' for='email'>Email</label>
                    <input class='form-control' data-bind='value: $data.email, valueUpdate: "keyup"' id='email' placeholder="Enter an email address" type='text'/>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <div class='form-group' data-bind='validationElement: $data.firstName'>
                    <label class='control-label' for='firstName'>First Name</label>
                    <input class='form-control' data-bind='value: $data.firstName, valueUpdate: "keyup"' id='firstName' placeholder="Enter first name" type='text'/>
                </div>
            </div>
            <div class='col-md-6'>
                <div class='form-group' data-bind='validationElement: $data.lastName'>
                    <label class='control-label' for='lastName'>Last Name</label>
                    <input class='form-control' data-bind='value: $data.lastName, valueUpdate: "keyup"' id='lastName' placeholder="Enter last name" type='text'/>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-12'>
                <div class='form-group' data-bind='validationElement: $data.isSomething'>
                    <label class='control-label' for='userType'>Pick a User Type</label>
                    <div id='userType'>
                        <a class='btn btn-default' data-bind='css:{"btn-primary":$data.isOwner()}, click: function(){$data.grant("Owner");}'>Owner</a>
                        <a class='btn btn-default' data-bind='css:{"btn-primary":$data.isAdministrator()}, click: function(){$data.grant("Administrator");}'>Administrator</a>
                        <a class='btn btn-default' data-bind='css:{"btn-primary":$data.isUser()}, click: function(){$data.grant("User");}'>User</a>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-12'>
                <div class='pull-right'>
                    <a class='btn btn-primary' data-bind='click: $data.save'>Save</a>
                    <a class='btn btn-default' href='/userManagement' data-bind='click: $data.cancel'>Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
