<!-- User Management list-->
<div data-bind='with:$root.userManagement'>
    <div class="navbar navbar-static-top navbar-default">
        <div class="">
            <div class='row'>
                <div class='col-md-9'>
                    <div class="navbar-header">
                        <h4 class='offcanvas-nav-header'>
                            <span>User Management</span>
                        </h4>
                    </div>
                </div>
                <div class='col-md-3'>
                    <a class='btn btn-primary btn-sm' href='/userManagement/create' style='margin-top:8px'>
                        <span class="glyphicon glyphicon-plus"></span>
                        Add User</a>
                </div>
            </div>
        </div>
    </div>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-3 hidden-xs hidden-sm'>
                <strong><h4>Email</h4></strong>
            </div>
            <div class='col-md-3 hidden-xs hidden-sm'>
                <strong><h4>Name</h4></strong>
            </div>
            <div class='col-md-3 hidden-xs hidden-sm'>
                <strong><h4>User Type</h4></strong>
            </div>
            <div class='col-md-3 hidden-xs hidden-sm'></div>
        </div>
        <!-- ko foreach: $data.users -->
        <div data-bind='modal:{ visible: $data.showRemove, header: {data: {label: "Remove User?"}}, body: { name: "removeUser", data: $data }, footer:{ data:{ action: $data.removeUser, closeLabel:"Cancel", primaryLabel:"Remove User" } } }'></div>
        <div data-bind='visible: !$data.removed()'>
            <div class='row'>
                <div class='col-md-3 hidden-xs hidden-sm'>
                    <span class="glyphicon glyphicon-user"></span>
                    &nbsp;&nbsp;
                    <span data-bind='text: $data.email'></span>
                </div>
                <div class='col-md-3 hidden-xs hidden-sm'>
                    <span data-bind='text: $data.firstName'></span>
                    <span data-bind='text: $data.lastName'></span>
                </div>
                <div class='col-md-2 hidden-xs hidden-sm'>
                    <span data-bind='text: $data.access()'></span>
                </div>
                <div class='col-md-4 hidden-xs hidden-sm'>
                    <a class='btn btn-default btn-sm' data-bind='attr:{href: $data.editUri}'>
                        <span class="glyphicon glyphicon-pencil"></span>
                        Edit</a>&nbsp;
                    <a class='btn btn-default btn-sm' data-bind='click: function(){$data.showRemove(true);}' href='#'>
                        <span class="glyphicon glyphicon-remove"></span>
                        Remove</a>
                </div>
                <div class='col-sm-3 hidden-md hidden-lg'>
                    <div><strong>Email</strong></div>
                    <span data-bind='text: $data.email'></span>
                </div>
                <div class='col-sm-3 hidden-md hidden-lg'>
                    <div><strong>Name</strong></div>
                    <span data-bind='text: $data.firstName'></span>
                    <span data-bind='text: $data.lastName'></span>
                </div>
                <div class='col-sm-2 hidden-md hidden-lg'>
                    <div><strong>User Type</strong></div>
                    <span data-bind='text: $data.access()'></span>
                </div>
                <div class='col-sm-4 hidden-md hidden-lg'>
                    <a class='btn btn-default btn-sm' data-bind='attr:{href: $data.editUri}'>
                        <span class="glyphicon glyphicon-pencil"></span>
                        Edit</a>&nbsp;
                    <a class='btn btn-default btn-sm' data-bind='click: function(){$data.showRemove(true);}' href='#'>
                        <span class="glyphicon glyphicon-remove"></span>
                        Remove</a>
                </div>
                <hr class='hidden-md hidden-lg'/>
            </div>
        </div>
        <!-- /ko -->
        <div></div>
    </div>
</div>
<script id='removeUser' type='text/html'>
    <% include removeUser %>
</script>