<div data-bind='with: $data.userOutstandingWorkflows'>
    <div class='panel panel-default'>
        <div class='panel-heading'>Outstanding Training</div>
        <ul class='list-group'>
            <!-- ko foreach: $data.displayList -->
            <li class='list-group-item'>
                <div class='row'>
                    <div class='col-xs-9'>
                <span data-bind='text: $data.displayName'></span>
                </div>
                    <div class='col-xs-3'>
                        <div class='pull-right'>
                            <a class='btn btn-default' href='#' data-bind='attr:{href: $data.url}'>Go ></a>
                        </div>
                    </div>
                </div>
            </li>
            <!-- /ko -->
        </ul>
        <div class='panel-footer'>
            <span data-bind='visible: $data.hasMore()'>
                <span>... and
                    <span data-bind='visible: $data.hasMore, text: $data.howManyMore()'></span>
                    more.</span>
            </span>
                <a href='/workflow'>See all...</a>
        </div>
    </div>
</div>
