<!DOCTYPE html>
<html>
    <head>
        <title>Annulet Compliance Management System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <!-- CSS -->
        <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
        <link rel='stylesheet' href='/bower_components/toastr/toastr.css' />
        <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">
        <link rel='stylesheet' href='/bower_components/animate.css/animate.min.css'>
        <link rel='stylesheet' href='/bower_components/dropzone/dist/min/dropzone.min.css'>
        <link href="/client_app/css/style.min.css" rel="stylesheet"> 

        <script data-main='<%= clientAppRequireConfig %>' src='/bower_components/requirejs/require.js'></script>
    </head>
    <body id='application'>
        <!-- Header -->
        <header class="clearfix" id="header">
            <div class="navbar navbar-inverse navbar-fixed-top" data-bind='visible: $data.auth().loggedIn()' style='display:none'>
                <div class="container-fluid">
                    <div class='row'>
                    <div class='col-xs-12'>
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" style='width:auto' href="/dashboard">
                            <img class='hidden-xs' style="position:relative;left:8px;max-height:36px;margin:0px; padding-right: 24px;width:auto" src="/client_app/images/logo-light.png">
                            <img class='hidden-sm hidden-md hidden-lg' style="position:relative;left:-5px;top:8px;max-height:25px;margin:0px" src="/client_app/images/logo.png">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-nav-slim">
                            <li data-bind='visible: $data.auth().loggedIn()'>
                                <a href="/dashboard" role="button"><span class="glyphicon glyphicon-home"></span> Dashboard</a>
                            </li>
                            <li data-bind='visible: $data.auth().loggedIn()'>
                                <a href="/workflow" role="button"><span class="glyphicon glyphicon-education"></span> Training</a>
                            </li>
                            <li data-bind='visible: $data.auth().loggedIn()'>
                                <a href="/operatingProcedure" role="button"><span class="glyphicon glyphicon-check"></span> Procedures</a>
                            </li>
                            <li data-bind='visible: $data.auth().loggedIn()'>
                                <a href="/auxiliaryDocuments" role="button"><span class="glyphicon glyphicon-file"></span> Documents</a>
                            </li>
                            <li data-bind='visible: $data.auth().loggedIn()'>
                                <a href="/complaints" role="button"><span class="glyphicon glyphicon-bullhorn"></span> Complaints</a>
                            </li>
                            <li data-bind='visible: $data.auth().loggedIn()'>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                  <span class='glyphicon glyphicon-user'></span><span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li data-bind='visible: $data.auth().loggedIn()&& $data.auth().canAdministerUsers()'>
                                        <a href='/account'>Manage Account</a>
                                    </li>
                                    <li data-bind='visible: $data.auth().loggedIn()&& $data.auth().canAdministerUsers()' class='divider'>
                                    <li data-bind='visible: $data.auth().loggedIn()&& $data.auth().canAdministerUsers()'>
                                        <a href='/userManagement'><span class="glyphicon glyphicon-user"></span> Manage Users</a>
                                    </li>
                                    <li data-bind='visible: $data.auth().loggedIn()&& $data.auth().canAdministerUsers()'>
                                        <a href='/administration/alerts'><span class="glyphicon glyphicon-exclamation-sign"></span> Manage Alerts</a>
                                    </li>
                                    <li data-bind='visible: $data.auth().loggedIn()&& $data.auth().canAdministerUsers()'>
                                        <a href='/administration/auxiliaryDocuments'><span class="glyphicon glyphicon-file"></span> Manage Documents</a>
                                    </li>
                                    <li data-bind='visible: $data.auth().loggedIn()&& $data.auth().canAdministerUsers()'>
                                        <a href='/administration/operatingProcedure'><span class="glyphicon glyphicon-file"></span> Manage Operating Procedures</a>
                                    </li>
                                    <li class='divider' data-bind='visible: $data.auth().loggedIn()&& $data.auth().canAdministerUsers()'>
                                    </li>
                                    <li>
                                        <a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12'>
                        <div data-bind='with: $root.auth'>
                            <div data-bind='with: $data.customerAndAccess'>
                                <div class='customerName' data-bind='text: $data.customerName'></div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section id="main" role="main">
            <section id="content">
                <div data-bind='visible: $data.Chrome.processing()'>
                    <div class='row'>
                            <div class='center-block' style='width:40%;padding-top:16px'>
                                <img src='/client_app/images/lines.gif'></img>
                            </div>
                    </div>
                </div>
                <div data-bind='visible: !$data.Chrome.processing()' style='display:none'>
                    <%- body %>
                </div>
            </section>
        </section>
        <footer id="footer"></footer>
    </body>
</html>
