<!DOCTYPE html>
<html>
    <head>
        <title>Annulet Signup</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <!-- CSS -->
        <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href='/bower_components/toastr/toastr.css' rel='stylesheet'/>
        <script data-main='<%= signupAppRequireConfig %>' src='/bower_components/requirejs/require.js'></script>
        <link href="/signup_app/css/style.css" rel="stylesheet">
    </head>
    <body id='application' style='padding-top:60px'>
        <!-- Header -->
        <header class="clearfix" id="header">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class='row'>
                        <div class='col-xs-12'>
                            <div class="navbar-header">
                                <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="/dashboard">
                                    <img class='hidden-xs' style="position:relative;left:8px;max-height:36px;margin:0px; padding-right: 24px;width:auto" src="/client_app/images/logo-light.png">
                                    <img class='hidden-sm hidden-md hidden-lg' style="position:relative;left:-5px;top:8px;max-height:36px;margin:0px" src="/client_app/images/logo.png">
                                </a>
                            </div>
                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav navbar-nav-slim">
                                    <li class="active">
                                        <a href="/signup">Signup</a>
                                    </li>
                                    <li>
                                        <a href='/login'>Log In</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section id="main" role="main">
            <section class="" id="content">
                <div class='row-offcanvas wrapper' data-bind='css:{active: $data.offCanvasActive()}'>
                    <div class="navbar navbar-static-top navbar-default" data-bind='visible: !$data.Chrome.processing() && $data.area() !== "done"' style='display:none;'>
                        <div class="">
                            <div class="navbar-header">
                                <button class="navbar-toggle" data-bind='click: function(){$data.offCanvasActive(!$data.offCanvasActive())}' style="float:left; margin-left: 10px" type="button">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <h4 class='offcanvas-nav-header'>Sign up today!</h4>
                            </div>
                        </div>
                    </div>
                    <div class='container-fluid'>
                    <div class='row'>
                        <div data-bind='visible: !$data.Chrome.processing()' style='display:none'>
                            <div class='col-xs-12 col-sm-2 sidebar-offcanvas' data-bind='css:{active: $data.offCanvasActive}, visible: $data.area() !== "done" && !$data.Chrome.processing()'>
                                <div class='sidebar-offcanvas-height' data-bind='heightHack: {height: "html", lowresOffset: 155, highresOffset:250}'>
                                    <ul class='nav nav-pills nav-stacked'>
                                        <li data-bind='css:{active: $data.area() === "signup"}'><a href='/signup'>Overview</a></li>
                                        <li data-bind='css:{active: $data.area() === "termsOfUse"}'><a href='/signup/termsOfUse'>Terms of Use</a></li>
                                        <li data-bind='css:{active: $data.area() === "disclaimer"}'><a href='/signup/disclaimer'>Warranty Disclaimer</a></li>
                                        <li data-bind='css:{active: $data.area() === "privacy"}'><a href='/signup/privacy'>Privacy</a></li>
                                        <li data-bind='css:{active: $data.area() === "ownerInformation", "bg-danger":$data.ownerIssue}'><a href='/signup/ownerInformation'>Owner Information</a></li>
                                        <li data-bind='css:{active: $data.area() === "companyInformation", "bg-danger":$data.companyIssue}'><a href='/signup/companyInformation'>Company information</a></li>
                                        <li data-bind='css:{active: $data.area() === "payment", "bg-danger":$data.paymentIssue}'><a href='/signup/payment'>Payment</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div data-bind='css:{"col-xs-12":$data.area() !== "done", "col-sm-10": $data.area() !== "done", "col-md-12":$data.area() ==="done"}'>
                                <div data-bind='visible: !$data.Chrome.processing()' style='display:none'>
                                    <%- body %>
                                </div>
                            </div>
                        </div>
                        <div data-bind='visible: $data.Chrome.processing()'>
                            <div class='row'>
                                <div class='center-block' style='width:40%'>
                                    <img src='/client_app/images/lines.gif'></img>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <footer id="footer"></footer>
    </body>
</html>
