<div data-bind='with: $root.operatingProcedureList'>
     <div class="navbar navbar-static-top navbar-default" style='margin-bottom:0px'>
        <div class="">
            <div class="navbar-header">
                <h4 class='offcanvas-nav-header'>
                    <span>Operating Procedures</span>
                </h4>
            </div>
        </div>
    </div>
    <div data-bind='visible: $data.operatingProcedures().length === 0'>
        <div class='container-fluid'>
        No operating procedures available.
        </div>
    </div>
    <div data-bind='foreach: $data.operatingProcedures'>
        <div class='col-xs-11 col-xs-offset-1 workflowItem'>
            <h4 data-bind='text:$data.title'></h4>
            <div class='row'>
                <div class='col-md-8'>
                    <span data-bind='text: $data.description'></span>
                </div>
                <div class='col-md-2'>
                    <div data-bind='visible: $data.isCompleted()'>
                        <span class='glyphicon glyphicon-ok'></span>
                        <span>&nbsp; Completed.</span>
                    </div>
                </div>
                <div class='col-md-2'>
                    <div>
                        <a class='btn btn-sm btn-primary' data-bind='attr:{href: $data.url()}' href='#'>Go &gt;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
