<div class='' data-bind='with: $root.auxiliaryDocumentList'>
    <div class="navbar navbar-static-top navbar-default">
        <div class="">
            <div class="navbar-header">
                <h4 class='offcanvas-nav-header'>
                    <span>Documents</span>
                </h4>
            </div>
        </div>
    </div>
    <div class='container-fluid'>
        <div class='list-group'>
            <!-- ko foreach: $data.fileList -->
            <div class='list-group-item'>
                <div class='row'>
                    <div class='col-md-10'>
                        <h4 data-bind='text: displayName'></h4>
                        <div data-bind='text: descriptionDisplay'></div>
                    </div>
                    <div class='col-md-2'>
                        <div class='pull-right'>
                            <a class='btn btn-default btn-sm' data-bind='attr:{href: $data.href()}'>Download</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /ko -->
            <div data-bind='visible: $data.fileList().length === 0'>
                No documents found.
            </div>
        </div>
    </div>
</div>
