<div data-bind='with: $root.adminOPActivity'>
    <div class='navbar navbar-static-top navbar-default'>
        <div>
            <div class='navbar-header'>
                <h4 class='offcanvas-nav-header'>
                    <span>Operating Procedure Activity</span>
                </h4>
            </div>
        </div>
    </div>
    <div data-bind='foreach: $data.displayList' class='container-fluid'>
        <div class='row'>
            <div class='col-xs-12'>
                <strong><span data-bind='text: $data.displayName'></span></strong>
                <span data-bind='text: $data.activityText'></span>
            </div>
        </div>
    </div>
    <div data-bind='visible: $data.displayList().length === 0'>
        No activity.
    </div>
</div>
