<div data-bind='with: $root.adminOutstandingOPs'>
    <div class='navbar navbar-static-top navbar-default'>
        <div>
            <div class='navbar-header'>
                <h4 class='offcanvas-nav-header'>
                    <span>Outstanding Operating Procedures</span>
                </h4>
            </div>
        </div>
    </div>
    <div data-bind='foreach: $data.displayList' class='container-fluid'>
        <div class='row'>
            <div class='col-xs-12'>
                <strong><span data-bind='text: $data.displayName'></span></strong>
            </div>
        </div>
        <div data-bind='foreach: $data.opStatusList()'>
            <div class='row'>
                <div class='col-xs-11 col-xs-offset-1'>
                    <div data-bind='text: $data.title'></div>
                </div>
            </div>
        </div>
    </div>
</div>
