<div>
    <h3>Payment</h3>
    <div data-bind='with: $data.creditCard'>
        <div data-bind='visible: $data.isOpenForEdit()'>
            <div class='form-group' data-bind='validationElement: $data.creditCardNumber'>
                <label class='control-label' for='creditCardNumber'>Credit Card Number:</label>
                <input class='form-control' data-bind='value: $data.creditCardNumber, valueUpdate:"keyup"' data-stripe='number' id='creditCardNumber' placeholder='Enter credit card number' size='20' type='text'/>
            </div>
            <div class='form-group' data-bind='validationElement: $data.cvc'>
                <label class='control-label' for='cvc'>CVC:</label>
                <input class='form-control' data-bind='value: $data.cvc, valueUpdate:"keyup"' data-stripe='cvc' id='cvc' placeholder='Enter CVC' size='4' type='text'/>
            </div>
            <div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group" data-bind='validationElement: $data.expiryMonth'>
                            <label class="control-label" for="expiry-month">Expiration Month:</label>
                            <select class="form-control col-sm-2" data-bind='options: $data.months, optionsText: "display", value: expiryMonth,optionsCaption: "Choose Month"' data-stripe='exp-month'></select>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group" data-bind='validationElement: $data.expiryYear'>
                            <label class="control-label" for="expiry-year">Expiration Year:</label>
                            <select class="form-control" data-bind='options: $data.years, optionsText: "display", value: expiryYear,optionsCaption: "Choose Year"' data-stripe='exp-year'></select>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class='pull-right'>
                    <a class='btn btn-default' data-bind='click: $data.cancel' href='#'>Cancel</a>
                    <a class='btn btn-primary' data-bind='click: $data.submit' href='#'>Save</a>
                </div>
            </div>
        </div>
        <div class='alert alert-danger' data-bind='visible: !!$data.paymentErrors()'>
            <span data-bind='text: $data.paymentErrors()'></span>
        </div>
        <div data-bind='visible: !$data.isOpenForEdit()'>
            <div>
                <div class='form-group'>
                    <label>Last 4</label>
                    <p data-bind='text: $data.stripe.lastFour'></p>
                </div>
                <div class='form-group'>
                    <label>Card type</label>
                    <p data-bind='text: $data.stripe.brand'></p>
                </div>
                <div class='form-group'>
                    <label>Expiration Date</label>
                    <p data-bind='text: $data.stripe.expiryDate'></p>
                </div>
            </div>
            <div>
                <div class='pull-right'> 
                        <a class='btn btn-primary' data-bind='click: $data.edit' href='#'>Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>
