<div data-bind='with: $data.customer()'>
    <h3>Company Information</h3>
    <div data-bind='visible: $data.isOpenForEdit()'>
        <div class='form-group' data-bind='validationElement: $data.name'>
            <label class='control-label' for='companyName'>Company Name:</label>
            <input class='form-control' data-bind='value: $data.name, valueUpdate: "keyup"' id='companyName' placeholder='Enter Company Name' type='text'/>
        </div>
        <div class='form-group' data-bind='validationElement: $data.address.street1'>
            <label class='control-label' for='address1'>Address Line 1:</label>
            <input class='form-control' data-bind='value: $data.address.street1, valueUpdate: "keyup"' id='address1' placeholder='Enter Address' type='text'/>
        </div>
        <div class='form-group' data-bind='validationElement: $data.address.street2'>
            <label class='control-label' for='address2'>Address Line 2:</label>
            <input class='form-control' data-bind='value: $data.address.street2, valueUpdate: "keyup"' id='address2' placeholder='Enter apartment, unit' type='text'/>
        </div>
        <div class='form-group' data-bind='validationElement: $data.address.city'>
            <label class='control-label' for='city'>City:</label>
            <input class='form-control' data-bind='value: $data.address.city, valueUpdate: "keyup"' id='city' placeholder='Enter city' type='text'/>
        </div>
        <div class='form-group' data-bind='validationElement: $data.address.state'>
            <label class='control-label' for='state'>State:</label>
            <input class='form-control' data-bind='value: $data.address.state, valueUpdate: "keyup"' id='state' placeholder='Enter state' type='text'/>
        </div>
        <div class='form-group' data-bind='validationElement: $data.address.zip'>
            <label class='control-label' for='zip'>Zip Code:</label>
            <input class='form-control' data-bind='value: $data.address.zip, valueUpdate: "keyup"' id='zip' placeholder='Enter zip code' type='text'/>
        </div>
        <div class='form-group' data-bind='validationElement: $data.phone'>
            <label class='control-label' for='phone'>Phone:</label>
            <input class='form-control' data-bind='value: $data.phone, valueUpdate: "keyup"' id='phone' placeholder='Enter phone' type='text'/>
        </div>
        <div class='form-group' data-bind='validationElement: $data.numberOfLocations'>
            <label class='control-label' for='numberOfLocations'>Number of Locations:</label>
            <input class='form-control' data-bind='value: $data.numberOfLocations, valueUpdate: "keyup"' id='numberOfLocations' placeholder='Enter number of locations' type='text'/>
        </div>
        <div class='form-group' data-bind='validationElement: $data.numberOfEmployees'>
            <label class='control-label' for='city'>Number of Employees:</label>
            <input class='form-control' data-bind='value: $data.numberOfEmployees, valueUpdate: "keyup"' id='numberOfEmployees' placeholder='Enter number of employees' type='text'/>
        </div>
        <div>
            <div class='pull-right'>
                <a class='btn btn-default' data-bind='click: $data.cancel' href='#'>Cancel</a>
                <a class='btn btn-primary' data-bind='click: $data.submit' href='#'>Save</a>
            </div>
        </div>
    </div>
    <div data-bind='visible: !$data.isOpenForEdit()'>
        <div class='form-group' data-bind='validationElement: $data.name'>
            <label class='control-label' for='companyName'>Company Name:</label>
            <p data-bind='text: $data.name'></p>
        </div>
        <div class='form-group' data-bind='validationElement: $data.address.street1'>
            <label class='control-label' for='address1'>Address Line 1:</label>
            <p data-bind='text: $data.address.street1'></p>
        </div>
        <div class='form-group' data-bind='validationElement: $data.address.street2'>
            <label class='control-label' for='address2'>Address Line 2:</label>
            <p data-bind='text: $data.address.street2'></p>
        </div>
        <div class='form-group' data-bind='validationElement: $data.address.city'>
            <label class='control-label' for='city'>City:</label>
            <p data-bind='text: $data.address.city'></p>
        </div>
        <div class='form-group' data-bind='validationElement: $data.address.state'>
            <label class='control-label' for='state'>State:</label>
            <p data-bind='text: $data.address.state'></p>
        </div>
        <div class='form-group' data-bind='validationElement: $data.address.zip'>
            <label class='control-label' for='zip'>Zip Code:</label>
            <p data-bind='text: $data.address.zip'></p>
        </div>
        <div class='form-group' data-bind='validationElement: $data.phone'>
            <label class='control-label' for='phone'>Phone:</label>
            <p data-bind='text: $data.phone'></p>
        </div>
        <div class='form-group' data-bind='validationElement: $data.numberOfLocations'>
            <label class='control-label' for='numberOfLocations'>Number of Locations:</label>
            <p data-bind='text: $data.numberOfLocations'></p>
        </div>
        <div class='form-group' data-bind='validationElement: $data.numberOfEmployees'>
            <label class='control-label' for='city'>Number of Employees:</label>
            <p data-bind='text: $data.numberOfEmployees'></p>
        </div>
        <div class='pull-right'>
            <div>
                <a class='btn btn-primary' data-bind='click: $data.edit' href='#'>Edit</a>
            </div>
        </div>
    </div>
</div>