<div>
    <h3>Deactivate Account</h3>
    By pressing the button, you will deactivate your account.  All saved data will no longer be accessible and users will no longer be able to access their accounts.

    <p>
    <strong>This action is not undoable.
    </strong>
    </p>
    <p>Please be certain this is what you want.</p>

    <div>
    <a href='#' data-bind='click:function(){$data.showDeactivate(true);}' class='btn btn-danger'>Deactivate Account</a>
    </div>
    <div data-bind='
    modal: {
                visible: $data.showDeactivate, 
                header: {
                    data: {
                        label:"Deactivate Account?"
                    }
                }, 
                body: {
                    name: "deactivateAccount"
                }, 
                footer: {
                    data:{
                        action: $data.deactivateAccount, 
                        closeLabel: "Cancel", 
                        primaryLabel: "Deactivate Account"
                    }
                }
    }'></div>
</div>

<script id='deactivateAccount' type='text/html'>
    <% include deactivateAccountModal %>
</script>
