<div data-bind='with: $root.account'>
    <div class="navbar navbar-static-top navbar-default">
        <div class="">
            <div class="navbar-header">
                <h4 class='offcanvas-nav-header'>
                    <span>Account Information</span>
                </h4>
            </div>
        </div>
    </div>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-3'>
                <ul class='nav nav-pills nav-stacked'>
                    <li data-bind='css:{"bg-danger": !$data.creditCard().errors().length > 0 && $data.creditCard().enforceErrors(), "active":$data.section() === "Payment"}, click: function(){$data.section("Payment");}' role='presentation'>
                        <a href='#'>
                            Payment
                        </a>
                    </li>
                    <li data-bind='css:{"bg-danger": !$data.customer().errors().length > 0 && $data.customer().enforceErrors(), "active":$data.section() === "Customer"}, click: function(){$data.section("Customer");}' role='presentation'>
                        <a href='#'>
                            Customer
                        </a>
                    </li>
                    <li data-bind='css:{"active":$data.section() === "Deactivate"}, click: function(){$data.section("Deactivate");}' role='presentation'>
                        <a href='#'>
                            Deactivate
                        </a>
                    </li>
                </ul>
            </div>
            <div class='col-md-9'>
                <div data-bind='visible: $data.section() === "Payment"'>
                    <% include creditCard %>
                </div>
                <div data-bind='visible: $data.section() === "Customer"'>
                    <% include customer %>
                </div>
                <div data-bind='visible: $data.section() ==="Deactivate"'>
                    <% include deactivate %>
                </div>
            </div>
        </div>
    </div>
</div>