<div data-bind='with: $root.activationSetPassword' class='container-fluid'>
    <h3>Activate Account</h3>
    <p>
        Welcome to Compliance Umbrella.
    </p>
    <div class='form-group' data-bind='validationElement: $data.password'>
        <label class='control-label' for='complainerName'>Password:</label>
        <input class='form-control' data-bind='value: $data.password, valueUpdate: "keyup"' placeholder='Enter password' type='password'/>
    </div>
    <div class='form-group' data-bind='validationElement: $data.passwordAgain'>
        <label class='control-label' for='complainerName'>Re-enter password:</label>
        <input class='form-control' data-bind='value: $data.passwordAgain, valueUpdate: "keyup"' placeholder='Enter password again' type='password'/>
    </div>
    <div>
        <a href='#' data-bind='click: submit' class='btn btn-primary'>Submit</a>
    </div>
</div>
