<div class='container-fluid'>
    <h3>Your password has been set successfully.</h3>
    <div>
        Please proceed to login and use your new password.
    </div>
    <div>
        <a href='/login' class='btn btn-primary'>Log In</a>
    </div>
</div>
