<div data-bind='with: $root.signup'>
    <div data-bind='with: $data.user'>
        <h3>Owner Information</h3>
        <div>
            <div class='form-group' data-bind='validationElement: $data.firstName'>
                <label class='control-label' for='firstName'>First Name:</label>
                <input class='form-control' data-bind='value: $data.firstName, valueUpdate:"keyup"' id='firstName' placeholder='Enter first name' type='text'/>
            </div>
            <div class='form-group' data-bind='validationElement: $data.lastName'>
                <label class='control-label' for='lastName'>Last Name:</label>
                <input class='form-control' data-bind='value: $data.lastName, valueUpdate:"keyup"' id='lastName' placeholder='Enter last name' type='text'/>
            </div>
            <div class='form-group' data-bind='validationElement: $data.email'>
                <label class='control-label' for='firstName'>Email:</label>
                <input class='form-control' data-bind='value: $data.email, valueUpdate:"keyup"' id='email' placeholder='Enter email' type='text'/>
            </div>
            <div class='form-group' data-bind='validationElement: $data.password'>
                <label class='control-label' for='password'>Password:</label>
                <input class='form-control' data-bind='value: $data.password, valueUpdate:"keyup"' id='password' placeholder='Enter password' type='password'/>
            </div>
            <div class='form-group' data-bind='validationElement: $data.passwordAgain'>
                <label class='control-label' for='passwordAgain'>Re-Enter Password:</label>
                <input class='form-control' data-bind='value: $data.passwordAgain, valueUpdate:"keyup"' id='passwordAgain' placeholder='Enter password' type='password'/>
            </div>
        </div>
    </div>
    <div>
        <div class='pull-left'>
            <a class='btn btn-primary' href='/signup/privacy'>Privacy</a>
        </div>
        <div class='pull-right'>
            <a class='btn btn-primary' href='/signup/companyInformation'>Company Information</a>
        </div>
    </div>
</div>
