<div data-bind='with: $root.signup'>
    <div>
        <h3>Payment</h3>
        <div data-bind='with: $data.creditCard'>
            <div class='form-group' data-bind='validationElement: $data.creditCardNumber'>
                <label class='control-label' for='creditCardNumber'>Credit Card Number:</label>
                <!-- <input class='form-control' data-bind='value: $data.creditCardNumber, valueUpdate:"keyup"' data-stripe='number' id='creditCardNumber' placeholder='Enter credit card number' size='20' type='text'/> -->
                <input class='form-control' data-bind='value: $data.creditCardNumber, valueUpdate:"keyup" , mask: "9999 9999 9999 9999" ' data-stripe='number' id='creditCardNumber' placeholder='Enter credit card number' size='20' type='text'/>
            </div>
            <div class='form-group' data-bind='validationElement: $data.cvc'>
                <label class='control-label' for='cvc'>CVC:</label>
                <input class='form-control' data-bind='value: $data.cvc, valueUpdate:"keyup"' data-stripe='cvc' id='cvc' placeholder='Enter CVC' size='4' type='text'/>
            </div>
            <div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group" data-bind='validationElement: $data.expiryMonth'>
                            <label class="control-label" for="expiry-month">Expiration Month:</label>
                            <select id='expmonth' class="form-control col-sm-2" data-bind='options: $data.months, optionsText: "display", value: expiryMonth,optionsCaption: "Choose Month"' data-stripe='exp-month'></select>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group" data-bind='validationElement: $data.expiryYear'>
                            <label class="control-label" for="expiry-year">Expiration Year:</label>
                            <select id='expyear' class="form-control" data-bind='options: $data.years, optionsText: "display", value: expiryYear,optionsCaption: "Choose Year"' data-stripe='exp-year'></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class='form-group' data-bind='validationElement: $data.signupCode'>
                <label class='control-label' for='creditCardNumber'>Referral Code:</label>
                <input class='form-control' data-bind='value: $data.signupCode, valueUpdate:"keyup"' data-stripe='number' id='creditCardNumber' placeholder='Enter referral code (optional)' size='20' type='text'/>
            </div>
        </div>
        <div class='alert alert-danger' data-bind='visible: !!$data.creditCard().paymentErrors()'>
            <span data-bind='text: $data.creditCard().paymentErrors()'></span>
        </div>
    </div>
    <div>
        <div class='pull-left'>
            <a class='btn btn-primary' href='/signup/companyInformation'>Company Information</a>
        </div>
        <div class='pull-right'>
            <a id='finish' class='btn btn-primary' data-bind='click: $data.finish' href='#'>Finish!</a>
        </div>
    </div>
</div>
