<ul>
    <li><a href='/errorSampler/401'>401</a>
    <li><a href='/errorSampler/402'>402</a>
    <li><a href='/errorSampler/403'>403</a>
    <li><a href='/errorSampler/404'>404</a>
    <li><a href='/errorSampler/409'>409</a>
    <li><a href='/errorSampler/500'>500</a>
    <li><a href='/errorSampler/501'>501</a>
    <li><a href='/errorSampler/502'>502</a>
    <li><a href='/errorSampler/503'>503</a>
    <li><a href='/errorSampler/504'>504</a>
</ul>
