<div data-bind='with: $root.auth().customers'>
        <header class="clearfix" id="header">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class='row'>
                        <div class='col-xs-12'>
                            <div class="navbar-header">
                                <a class="navbar-brand" href="/dashboard" style='margin-bottom:8px'>
                                    <img class='hidden-xs' src="/client_app/images/logo-light.png" style="position:relative;left:0px;top:0px;height:36px;margin:0px">
                                    <img class='hidden-sm hidden-md hidden-lg' src="/client_app/images/logo.png" style="position:relative;left:-5px;top:8px;height:24px;margin:0px">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    <h3>Please select where you are working:</h3>
    <div class='list-group'>
        <!-- ko foreach: $data -->
        <a href='#' class='list-group-item' data-bind='text: $data.customerName, click: customerSelect'></a>
        <!-- /ko -->
    </div>
</div>
