<!-- Login -->
<div class="container login">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel price-plan">
                <div class="panel-heading">
                    <h4>Compliance Management System</h4>
                </div>
                <div class="headline">
                    <h2>
                        <img alt="Annulet" src="/client_app/images/logo.png" style="position:relative;left:3px;top:-5px;width:120px" title=""/>
                        Log In
                    </h2>
                </div>
                <div data-bind='with: $root.auth'>
                    <div class='row'>
                        <div class='col-md-12 col-lg-12 hidden-sm hidden-xs'>
                            <form class='form-horizontal'>
                                <div class='form-group'>
                                    <label class='col-xs-2 col-xs-offset-1 control-label' for='email'>Email:</label>
                                    <div class='col-xs-8'>
                                        <input class='form-control' data-bind='value:$data.email' id='email' type='email'/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class='col-xs-2 col-xs-offset-1 control-label' for='password'>Password:</label>
                                    <div class='col-xs-8'>
                                        <input class='form-control' data-bind='value: $data.password' id='password' type='password'/>
                                        <div class='text-right'>
                                            <span><a href='/forgot'>Forget your password?</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-8 col-xs-offset-3">
                                        <div class='alert alert-danger' data-bind='visible: $data.showError, text: $data.errorMessage' style='display:none'></div>
                                    </div>
                                </div>
                                <div class="panel-footer text-center">
                                    <input class='btn btn-transparent btn-price' data-bind='click: $data.login' type='submit' value='Log In'/>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 col-sm-12 hidden-md hidden-lg'>
                            <div class='row'>
                                <div class='col-xs-10 col-xs-offset-1'>
                                    <form>
                                        <div class='form-group'>
                                            <label class='control-label' for='email'>Email:</label>
                                            <div>
                                                <input class='form-control' data-bind='value:$data.email' id='email' type='email'/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class='control-label' for='password'>Password:</label>
                                            <div>
                                                <input class='form-control' data-bind='value: $data.password' id='password' type='password'/>
                                                <div class='text-right'>
                                                    <span><a href='/forgot'>Forget your password?</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-xs-12'>
                                    <div class="row">
                                        <div class="col-xs-10 col-xs-offset-1 ">
                                            <div class='alert alert-danger' data-bind='visible: $data.showError, text: $data.errorMessage' style='display:none'></div>
                                        </div>
                                    </div>
                                    <div class="panel-footer text-center">
                                        <input class='btn btn-transparent btn-price' data-bind='click: $data.login' type='submit' value='Log In'/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='text-center'>
                <span>Not a customer? Please
                    <a href="/signup">sign up</a>
                    for service.</span>
            </div>
        </div>
    </div>
</div>
<!-- End Login -->
