<div data-bind='with: $root.training()'>


    <div class="row-offcanvas wrapper" data-bind='css:{active: $data.offCanvasActive()}'>
        <div class="navbar navbar-static-top navbar-default">
            <div class="">
                <div class="navbar-header">
                    <button class="navbar-toggle" style="float:left; margin-left: 10px" type="button" data-bind='click: function(){$data.offCanvasActive(!$data.offCanvasActive())}'>
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h4 class='offcanvas-nav-header' ><span data-bind='text: $data.title'></span></h4>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-2 sidebar-offcanvas" data-bind='css:{active: $data.offCanvasActive()}'>
                    <div class='sidebar-offcanvas-height' data-bind='heightHack: {height: "html", lowresOffset: 155, highresOffset: 250}'>
                        <ul class="nav nav-pills nav-stacked">
                            <!-- ko foreach: $data.sections -->
                            <li data-bind='css:{"bg-danger": $data.highlightAsUnread, "active":$parent.selectedSection() === $index()}' role='presentation'>
                                <a data-bind='click: function(){$parent.goTo($index());}, text: $data.title()' href='#'></a>
                            </li>
                            <!-- /ko -->
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-10">
                    <div class='animation-container'>
                        <div data-bind='foreach: $data.sections'>
                            <div style='margin-bottom:80px;' data-bind='visible: $data.isVisible(), animate:{ animation: $data.animation, state: $data.animateObject, after: $data.after()}'>
                                <div data-bind='template: $data.sectionType()' class='content-pad'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class='sticky-footer'>
        <div class='row'>
            <div class='col-xs-12 col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2'>
                <div class='separator'>
                    <span class='pull-left'>
                        <a class='btn btn-default' data-bind='click: $data.previous' href='#'>Previous</a>
                    </span>
                    <span class='pull-right'>
                        <a class='btn btn-default' data-bind='click: $data.next, visible: !$data.isLast()' href='#'>Next</a>
                        <a class='btn btn-default' data-bind='click: $data.finish, visible: $data.isLast()' href='#'>Finish</a>
                    </span>
                </div>
            </div>
        </div>
    </footer>
</div>
<script id='Content' type='text/html'>
    <% include content %>
</script>
<script id='MarkdownContent' type='text/html'>
    <% include markdownContent %>
</script>
