<div data-bind='with: $data.adminOPActivity'>
    <div class='panel panel-default'>
        <div class='panel-heading'>Operating Procedure Activity</div>
        <div class='panel-body'>
            <!-- ko foreach: $data.displayList -->
                <div class='row'>
                    <div class='col-xs-12'>
                        <strong data-bind='text: $data.displayName'></strong>
                        <span data-bind='text: $data.activityText'></span>
                    </div>
                </div>
            <!-- /ko -->
            <div data-bind='visible: $data.displayList().length === 0'>
                No activity.
            </div>
        </div>
        <div class='panel-footer'>
            <span data-bind='visible: $data.hasMore()'>
                <span>... and
                    <span data-bind='visible: $data.hasMore, text: $data.howManyMore()'></span>
                    more.</span>
            </span>
            <a href='/admin/opActivity'>See all...</a>
        </div>
    </div>
</div>
