<div data-bind='with: $data.adminOutstandingWorkflows'>
    <div class='panel panel-default'>
        <div class='panel-heading'>Outstanding Training</div>
        <div class='panel-body'>
            <!-- ko foreach: $data.displayList -->
                <div class='row'>
                    <div class='col-xs-12'>
                        <strong data-bind='text: $data.displayName'></strong>
                    </div>
                </div>
                <!-- ko foreach: $data.workflowStatusList() -->
                <div class='row'>
                    <div class='col-xs-11 col-xs-offset-1'>
                        <span data-bind='text: $data.title'></span>
                    </div>
                </div>
                <!-- /ko -->
            <!-- /ko -->
            </div>
        <div class='panel-footer'>
            <span data-bind='visible: $data.hasMore()'>
                <span>... and
                    <span data-bind='visible: $data.hasMore, text: $data.howManyMore()'></span>
                    more.</span>
            </span>
            <a href='/admin/outstandingTraining'>See all...</a>
        </div>
    </div>
</div>
