<div class='container-fluid'>
    <h3>Internal Error</h3>
    <h4>The team at Annulet has been notified of the problem.</h4>
    <div data-bind='with: $root.Chrome.error()'>
        <div class='well'>
            If you you have questions or further information that might help us figure out what went wrong, please
            <a data-bind='attr:{href: "mailto:support@annulet.io?subject=Ticket%20" + $data.err.ticketNumber}'>email us.</a>
            This problem has been assigned ticket number
            <strong data-bind='text: $data.err.ticketNumber'></strong>. Please reference this number in any correspondence.
        </div>
    </div>
</div>
