<div class='contiainer-fluid'>
    <h3>Locked due to non-payment</h3>
    <div data-bind='with: $root.Chrome.error()'>
        <div class='well'>
            <p>
                If you think you have received this in error, please contact your Annulet administrator.
            </p>
            <p>
                If you you have questions, please
                <a data-bind='attr:{href: "mailto:support@cpandt.co?subject=Ticket%20" + $data.err.ticketNumber}'>email us.</a>
                This problem has been assigned ticket number
                <strong data-bind='text: $data.err.ticketNumber'></strong>. Please reference this number in any correspondence.
            </p>
        </div>
    </div>
</div>