<div class='container-fluid'>
    <h3>Not Found</h3>
    <h4>It seems what you are looking for doesn't exist.</h4>
    <div data-bind='with: $root.Chrome.error()'>
        <div class='well'>
            <p>
                If you you have questions, please
                <a data-bind='attr:{href: "mailto:support@annulet.io?subject=Ticket%20" + $data.err.ticketNumber}'>email us.</a>
                This problem has been assigned ticket number
                <strong data-bind='text: $data.err.ticketNumber'></strong>. Please reference this number in any correspondence.
            </p>
        </div>
    </div>
</div>
