<div class='container-fluid'>
    <h3>Permission Denied</h3>
    <h4>You do not have appropriate permissions for that action.</h4>
    <div data-bind='with: $root.Chrome.error()'>
        <div class='well'>
            <p>
                If you think you have received this in error, please contact your Annulet administrator.
            </p>
            <p>
                If you you have questions, please
                <a data-bind='attr:{href: "mailto:support@annulet.io?subject=Ticket%20" + $data.err.ticketNumber}'>email us.</a>
                This problem has been assigned ticket number
                <strong data-bind='text: $data.err.ticketNumber'></strong>. Please reference this number in any correspondence.
            </p>
        </div>
    </div>
</div>
