<div data-bind='with: $root.admin.operatingProcedureList'>
     <div class="navbar navbar-static-top navbar-default" style='margin-bottom:0px'>
        <div class="">
            <div class="navbar-header">
                <h4 class='offcanvas-nav-header'>
                    <span>Admin :: Operating Procedures</span>
                </h4>
            </div>
        </div>
    </div>
    <div data-bind='foreach: $data.operatingProcedures'>
        <div class='col-xs-11 col-xs-offset-1 workflowItem'>
            <h4 data-bind='text:$data.title'></h4>
            <div class='row'>
                <div class='col-md-8'>
                    <span data-bind='text: $data.description'></span>
                </div>
                <div class='col-md-2'>
                    <div data-bind='visible: $data.active()' style='color: #018F3C'><strong>Active</strong></div>
                    <div data-bind='visible: !$data.active()' style='color: #a60000'><strong>Inactive</strong></div>
                </div>
                <div class='col-md-2'>
                    <div data-bind='visible: !$data.processing()'>
                        <a class='btn btn-sm btn-primary' data-bind='click: $data.activate, visible: !$data.active()' href='#'>Activate</a>
                        <a class='btn btn-sm btn-primary' data-bind='click: $data.deactivate, visible: $data.active()' href='#'>Deactivate</a>
                    </div>
                    <div data-bind='visible: $data.processing()'>
                        <img src='/client_app/images/lines.gif' style='height:12px'></img>&nbsp;Please wait...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
