<div data-bind='with: $root.admin.alert.detail'>
    <div data-bind='modal: {visible:$data.showPublishModal, header: {data:{label: "Publish?"}}, body: {name: "publishDraft", data: $data}, footer:{data:{action:$data.publish, closeLabel: "Cancel", primaryLabel: "Publish"}}}'></div>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <h4>Alert Information</h4>
        </div>
        <div class='panel-body' data-bind='block: $data.processing'>
            <div class='row form-group' data-bind='validationElement: $data.alertLevel'>
                <div class='col-md-3'>
                    <label class='control-label' for='alertLevel'>Alert Level:</label>
                </div>
                <div class='col-md-9'>
                    <select class='form-control' data-bind='options:$data.possibleLevels, value: $data.alertLevel, optionsCaption: "Choose one..."'></select>
                </div>
            </div>
            <div class='row form-group' data-bind='validationElement: $data.markdown'>
                <div class='col-md-3'>
                    <label class='control-label' for='description'>Alert:</label>
                </div>
                <div class='col-md-9'>
                    <textarea class='form-control' data-bind='value: $data.markdown, valueUpdate: "keyup"' id='description' placeholder='Enter alert content' type='text'></textarea>
                </div>
            </div>
            <div class='row form-group' data-bind='validationElement: $data.startDate'>
                <div class='col-md-3'>
                    <label class='control-label' for='dateReceived'>Start Date:</label>
                </div>
                <div class='col-md-5'>
                    <div data-bind='visible: !($data.startForever())'>
                    <div class='input-group date' data-bind='datePicker: {value: $data.startDate, format:"MM/DD/YYYY", enabled: $data.startDateForever}'>
                        <input class='form-control' data-bind='value: $data.startDate' type='text' />
                        <span class='input-group-addon'>
                            <span class='glyphicon glyphicon-calendar'></span>
                        </span>
                    </div>
                    </div>
                    <div data-bind='visible: $data.startForever'>
                        <input class='form-control' disabled="disabled" data-bind='value: $data.startDate' type='text' />
                    </div>
                </div>
                <div class='col-md-1'>&mdash;OR&mdash;</div>
                <div class='col-md-3'>
                    <div>
                        <input class='form-control' style='width:34px;float:left;margin:0px' type='checkbox' data-bind='checked: $data.startForever' /> <div style='padding-top:4px'>&nbsp;Forever</div>
                    </div>
                </div>
            </div>
            <div class='row form-group' data-bind='validationElement: $data.endDate'>
                <div class='col-md-3'>
                    <label class='control-label' for='dateReceived'>End Date:</label>
                </div>
                <div class='col-md-5'>
                    <div data-bind='visible: !($data.endForever())'>
                    <div class='input-group date' data-bind='datePicker: {value: $data.endDate, format:"MM/DD/YYYY", enabled: $data.endDateForever}'>
                        <input class='form-control' data-bind='checked: $data.endDate' type='text' />
                        <span class='input-group-addon'>
                            <span class='glyphicon glyphicon-calendar'></span>
                        </span>
                    </div>
                    </div>
                    <div data-bind='visible: $data.endForever'>
                        <input class='form-control' disabled="disabled" data-bind='value: $data.endDate' type='text' />
                    </div>
                </div>
                <div class='col-md-1'>&mdash;OR&mdash;</div>
                <div class='col-md-3'>
                    <div class=''>
                        <input class='form-control' style='width:34px;float:left;margin:0px' type='checkbox' data-bind='checked: $data.endForever' /> <div style='padding-top:4px'>&nbsp;Forever</div>
                    </div>
                </div>
            </div>
            <div>
                <div class='row'>
                    <div class='col-md-12'>
                        <div class='pull-right'>
                            <div data-bind='visible:!$data.processing()'>
                                <a class='btn btn-default btn-sm' data-bind='click: $data.save' href='#'>
                                    <span class="glyphicon glyphicon-floppy-save"></span> Save
                                </a>
                                <a class='btn btn-default btn-sm' data-bind='click: $data.publishClick' href='#'>
                                    <span class="glyphicon glyphicon-floppy-save"></span> Publish
                                </a>
                                <a class='btn btn-default btn-sm' href='/administration/alerts'>
                                    <span></span> Cancel
                                </a>
                            </div>
                            <div data-bind='visible: $data.processing()'>
                                <img src='/client_app/images/lines.gif' style='height:12px'></img>&nbsp;Please wait...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id='publishDraft' type='text/html'>
    <div>
        <span data-bind='text: $data.publishQuestion'></span>
    </div>
</script>
