<div data-bind='with: $root.admin.alert.list'>
    <div class="navbar navbar-static-top navbar-default" style='margin-bottom:0px'>
        <div class="">
            <div class="navbar-header">
                <h4 class='offcanvas-nav-header'>
                    <span>Admin :: Alerts</span>
                </h4>
            </div>
            <div class='pull-right'>
                <a href='#' class='btn btn-default btn-sm' data-bind='click: $data.create'>Create</a>
            </div>
        </div>
    </div>
    
    <div class='container-fluid'>
    <div data-bind='foreach: $data.alerts'>
        <div data-bind='modal:{visible: $data.showDiscardDraftModal, header:{data:{label:"Discard Draft?"}}, body:{name: "discardDraft", data:$data}, footer: {data:{action:$data.discardDraft, closeLabel:"Cancel", primaryLabel: "Discard Draft"}}}'></div>
        <div data-bind='modal:{visible: $data.showRemoveAlertModal, header:{data:{label:"Remove Alert?"}}, body:{name: "removeAlert", data:$data}, footer: {data:{action:$data.discardDraft, closeLabel:"Cancel", primaryLabel: "Remove Alert"}}}'></div>

        <div class='col-xs-11 col-xs-offset-1 workflowItem' data-bind='visible: $data.show'>
            <h4 data-bind='text:$data.title'></h4>
            <div class='row'>
                <div class='col-md-4'>
                    <span data-bind='text: $data.markdown'></span>
                </div>
                <div class='col-md-4'>
                    <div>
                        <strong>Alert Level:&nbsp;</strong><span data-bind='text: $data.alertLevel'></span>
                    </div>
                    <div>
                        <strong>Starts:&nbsp;</strong><span data-bind='text: $data.startDateDisplay'></span>
                    </div>
                    <div>
                        <strong>Ends:&nbsp;</strong><span data-bind='text: $data.endDateDisplay'></span>
                    </div>
                </div>
                <div class='col-md-4'>
                    <div data-bind='visible: !$data.processing()' class='pull-right'>
                        <div data-bind='with: $data.draft'>
                            <a class='btn btn-default btn-sm' data-bind='attr:{href: $data.editLink}'>Edit Draft</a>
                            <a class='btn btn-default btn-sm' data-bind='click: function(){$parent.discardDraft();}'>Discard Draft</a>
                        </div>
                        <div data-bind='with:$data.published'>
                            <a class='btn btn-default btn-sm' data-bind='click: function(){$data.remove();}'>Remove Document</a>
                            <a class='btn btn-default btn-sm' data-bind='click: function(){$data.createDraft();}, visible: $parent.allowCreateDraft()'>Create Draft</a>
                        </div>
                    </div>
                    <div data-bind='visible: $data.processing()'>
                        <img src='/client_app/images/lines.gif' style='height:12px'></img>&nbsp;Please wait...
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-bind='visible: $data.shownAlerts() === 0'>
                No alerts found.
    </div>
    </div>
</div>
<script id='discardDraft' type='text/html'>
    <div data-bind='with: $data.draft'>
        <span data-bind='text: $data.removeQuestion'></span>
    </div>
</script>
<script id='removeAlert' type='text/html'>
    <strong>Warning:</strong>&nbsp;This action cannot be undone.
    <div data-bind='with: $data.published'>
        <span data-bind='text: $data.removeQuestion'></span>
    </div>
</script>
