<div>
    <% include content %> 
    <!-- ko foreach: $data.terms() -->
    <div class='row'>
        <div class='col-md-3'><strong data-bind='text: $data.term()'></strong></div>
        <div class='col-md-9'><span data-bind='html: $data.renderedMarkdown()'></span></div>
    </div>
    <!-- /ko -->
</div>
