<div>
    <h4 data-bind='text: title'></h4>
    <!-- ko foreach: $data.subSections() -->
    <div class='row'>
        <div class='col-md-3'>
            <strong data-bind='text: $data.title()'></strong>
        </div>
        <div class='col-md-9'>
            <div data-bind='html: renderedMarkdown'></div>
        </div>
    </div>
    <!-- /ko -->
</div>
