<!-- Manage Alerts -->
<div data-bind='with: $root.alertDefinitionList()'>
    <div class="navbar navbar-static-top navbar-default">
        <div class="">
            <div class='row'>
                <div class='col-md-9'>
                    <div class="navbar-header">
                        <h4 class='offcanvas-nav-header'>
                            <span>Manage Alerts</span>
                        </h4>
                    </div>
                </div>
                <div class='col-md-3'>
                    <a class='btn btn-primary btn-sm' data-bind='click: add' href='#' style='margin-top:8px'>
                        <span class="glyphicon glyphicon-plus"></span>
                        Add Alert</a>
                </div>
            </div>
        </div>
    </div>
    <div class='container-fluid'>
        <div class='list-group' data-bind='foreach: $data.alertList()'>
            <div class='list-group-item' data-bind='visible: !$data.deleted() && !$data.isOpenForEdit()'>
                <div class='row'>
                    <div class='col-md-6'>
                        <div data-bind='css:{"alert-info":$data.alertClass()==="alert-info", "alert":true}'>
                            <div data-bind='html: $data.renderedMarkdown'></div>
                        </div>
                    </div>
                    <div class='col-md-2'>
                        <div><strong>Starts:</strong>
                            <span data-bind='text: $data.startsDisplay'></span>
                        </div>
                        <div><strong>Ends:</strong>
                            <span data-bind='text: $data.endsDisplay'></span>
                        </div>
                    </div>
                    <div class='col-md-4'>
                        <a class='btn btn-default btn-sm' data-bind='click: $data.edit' href='#'>
                            <span class="glyphicon glyphicon-pencil"></span>
                            Edit</a>
                        <a class='btn btn-default btn-sm' data-bind='click: $data.delete' href='#'>
                            <span class="glyphicon glyphicon-remove"></span>
                            Delete</a>
                    </div>
                </div>
            </div>
            <div class='list-group-item' data-bind='visible: !$data.deleted() && $data.isOpenForEdit()'>
                <div class='row'>
                    <div class='col-md-6'>
                        <div>
                            <textarea data-bind='value: $data.markdown' rows='4' style='width:100%'></textarea>
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <div class='row form-group' data-bind='validationElement: $data.alertLevel'>
                            <div class='col-md-3'><label class='control-label' for='alertLevel'>Alert Level:</label></div>
                            <div class='col-md-9'>
                                <select class='form-control' data-bind='options:$data.alertLevelOptions, value: $data.alertLevel, optionsCaption: "Choose One..."'></select>
                            </div>
                        </div>
                        <div class='row form-group' data-bind='validationElement: $data.starts'>
                            <div class='col-md-3'><label class='control-label' for='starts'>Starts:</label></div>
                            <div class='col-md-9'>
                                <div class='input-group date' data-bind='datePicker: {value: $data.starts, format:"MM/DD/YYYY"}'>
                                    <input class='form-control' data-bind='value: $data.starts' type='text'/>
                                    <span class='input-group-addon'>
                                        <span class='glyphicon glyphicon-calendar'></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class='row form-group' data-bind='validationElement: $data.ends'>
                            <div class='col-md-3'><label class='control-label' for='ends'>Ends:</label></div>
                            <div class='col-md-9'>
                                <div class='input-group date' data-bind='datePicker: {value: $data.ends, format:"MM/DD/YYYY"}'>
                                    <input class='form-control' data-bind='value: $data.ends' type='text'/>
                                    <span class='input-group-addon'>
                                        <span class='glyphicon glyphicon-calendar'></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-12'>
                        <div class='pull-right'>
                            <a class='btn btn-default' data-bind='click: $data.save' href='#'>
                                <span class="glyphicon glyphicon-floppy-save"></span>
                                Save</a>
                            <a class='btn btn-default' data-bind='click: $data.cancel' href='#'>
                                <span class="glyphicon glyphicon-floppy-remove"></span>
                                Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>