<div data-bind='with: $root.alertList()'>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            Alerts
        </div>
        <div class='panel-body' data-bind='foreach: $data.alertList()'>
            <div data-bind='css:{"alert-info":$data.alertClass()==="alert-info", "alert":true, "alert-dismissible":true}'>
                <button type='button' class='close' data-dismiss='alert' aria-label='Close' data-bind='click: $data.dismiss'>
                    <span aria-hidden=true'>Dismiss</span>
                </button>
                <span data-bind='html: $data.renderedMarkdown'></span>
            </div>
        </div>
    </div>
</div>
