<div data-bind='with: $root.quiz()'>
    <div data-bind='modal:{ visible: $data.showPreFinishSummary, header: {data: {label: "Pre-Completion Summary"}}, body: { name: "preFinishSummary", data: $data }, footer:{ name: "preFinishFooter", data: $data } }'></div>
 
    
    <div class="row-offcanvas wrapper" data-bind='css:{active: $data.offCanvasActive()}'>
        <div class="navbar navbar-static-top navbar-default">
            <div class="">
                <div class="navbar-header">
                    <button class="navbar-toggle" style="float:left; margin-left: 10px" type="button" data-bind='click: function(){$data.offCanvasActive(!$data.offCanvasActive())}'>
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h4 class='offcanvas-nav-header' ><span data-bind='text: $data.title'</h4>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-2 sidebar-offcanvas" data-bind='css:{active: $data.offCanvasActive()}'>
                    <div class='sidebar-offcanvas-height' data-bind='heightHack: {height: "html", lowresOffset: 155, highresOffset:250}'>
                        <ul class="nav nav-pills nav-stacked">
                            <!-- ko foreach: $data.questions -->
                            <li data-bind='css:{"bg-danger": !$data.question().isFinished() && $data.question().enforceErrors(), "active":$parent.selectedQuestion() === $index()}' role='presentation'>
                                <a data-bind='click: function(){$parent.goTo($index());}' href='#'>
                                    <span class='glyphicon' data-bind='css:{"glyphicon-eye-open":$data.question().markForReview() }'></span>
                                    <span data-bind='text: "Question " + ($index()+1)'></span>
                                </a>
                            </li>
                            <!-- /ko -->
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-10" style='height:100%'>
                    <div class='animation-container'>
                        <div data-bind='foreach: $data.questions'>
                            <div style='margin-bottom: 80px;' data-bind='visible: $data.question().isVisible(), animate:{ animation: $data.question().animation, state: $data.question().animateObject, after: $data.question().after()}'>
                            <div data-bind='template: $data.questionType()' class='content-pad'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <footer class='sticky-footer'>
        <div class='container-fluid'>
        <div class='row'>
            <div class='col-xs-12 col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2'>
                <div class='separator'>
                    <div class='row'>
                        <div class='col-xs-4'>
                            <span class='pull-left'>
                                <a class='btn btn-default' data-bind='click: $data.previous' href='#'>Previous</a>
                            </span>
                        </div>
                        <div class='col-xs-4 center-block text-center'>
                            <span>
                                <a class='btn btn-default' data-bind='click: function(){ $data.questions()[$data.selectedQuestion()].question().markForReview( !$data.questions()[$data.selectedQuestion()].question().markForReview()); }, css: {"btn-primary": $data.questions()[$data.selectedQuestion()].question().markForReview()}'>
                                    <span class='glyphicon glyphicon-eye-open'></span>
                                    <span>Mark for Review</span>
                                </a>
                            </span>
                        </div>
                        <div class='col-xs-4'>
                            <span class='pull-right'>
                                <a class='btn btn-default' data-bind='click: $data.next, visible: !$data.isLast()' href='#'>Next</a>
                                <a class='btn btn-default' data-bind='click: function(){$data.showPreFinishSummary(true);}, visible: $data.isLast()' href='#'>Finish</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </footer>
</div>
<script id='MultipleChoice' type='text/html'>
    <% include multipleChoice %>
</script>

<script id='OneChoice' type='text/html'>
    <% include oneChoice %>
</script>

<script id='Matching' type='text/html'>
    <% include matching %>
</script>
<script id='TrueFalse' type='text/html'>
    <% include trueFalse %>
</script>
<script id='preFinishSummary' type='text/html'>
    <% include preFinishSummary %>
</script>
<script id='preFinishFooter' type='text/html'>
    <% include preFinishFooter %>
</script>
