<div data-bind='with: $data.question'>
    <div class='page-header'>
        <h4 data-bind='text: $data.questionText'></h4>
    </div>
    <div class='row'>
        <div class='col-md-6'>
            <!-- ko foreach: $data.lefthand -->
                <a href='#' class='btn btn-default' 
                    data-bind='text: $data.answerText, 
                                click: function(){$parent.toggle("left", $data);},
                                style: {background: $data.selectionColor()}'></a>
            <!-- /ko -->
        </div>
        <div class='col-md-6'>
            <!-- ko foreach: $data.righthand -->
                <a href='#' class='btn btn-default' 
                    data-bind='text: $data.answerText, 
                                click: function(){$parent.toggle("right", $data);},
                                style: {background: $data.selectionColor()}'></a>
            <!-- /ko -->
        </div>
    </div>
</div>
