<div data-bind='with: $data.question'>
    <div class='page-header'>
        <h4 data-bind='text: $data.questionText'></h4>
    </div>
    <!-- ko foreach: $data.answers -->
    <div class='row'>
        <div class='col-xs-2'>
            <p class=''>
                <a class='btn btn-default btn-block' data-bind='click: function(){$parent.toggle($data._id());}, text: $parent.letterConverter($index()), css: {"btn-primary": $data.isSelected()}' href='#'></a>
            </p>
        </div>
        <div class='col-xs-10' style=''>
            <span style='' data-bind='text: $data.answerText'></span>
        </div>
    </div>
    <!-- /ko -->
</div>
