<div>
    <div data-bind='visible: !$data.isFinishable()'>
        <span data-bind='text: $data.userFriendlyUnfinishedDisplay'>
        </span>
    </div>
    <div class='alert alert-danger' data-bind='visible: !$data.isFinishable()'>
        All questions must be answered in order to finish a quiz.
    </div>
    <div data-bind='visible: $data.isFinishable()'>
        <span>All questions have been answered.</span>
    </div>

    <div data-bind='visible: $data.needsReview()'>
        <span data-bind='text: $data.userFriendlyMarkedDisplay'></span>
    </div>
    <div data-bind='visible: !$data.needsReview()'>
        <span>No questions are marked for review.</span>
    </div>
</div>
