<div>
    <span data-bind='visible: $data.isFinishable()'>
        <a class='btn btn-primary' data-bind='click: $data.finish' href='#'>Finish Quiz</a>
    </span>
    <span>
        <a class='btn btn-default' data-bind='click: function(){$data.showPreFinishSummary(false);}' href='#'>Cancel</a>
    </span>
</div>
