<div data-bind='with: $root.quizSummary()'>
    <!-- <pre data-bind='text: ko.toJSON($data,null, 4)'></pre> -->
    <div class='navbar navbar-static-top navbar-default'>
        <div>
            <div class='navbar-header'>
                <h4 class='offcanvas-nav-header'>
                    <span data-bind='text: $data.quizTitle'></span>
                </h4>
            </div>
        </div>
    </div>
    <div class='container-fluid'>
    <div data-bind='foreach: $data.scores'>
        <div class='row'>
            <div class='col-md-9'>
                <span data-bind='text: $data.questionText()'></span>
            </div>
            <div class='col-md-3'>
                <span data-bind='text: $data.score() + " out of " + $data.outOf()'></span>
            </div>
        </div>
        <hr style='margin-top: 8px; margin-bottom:8px'/>
    </div>
    <hr style='margin-top: 2px; margin-bottom:8px'/>
    <div class='row'>
        <div class='col-md-9'><strong>Overall score:</strong></div>
        <div class='col-md-3'>
            <span data-bind='text: $data.overallScore() + "%"'></span>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-9'><strong>Passing score:</strong></div>
        <div class='col-md-3'>
            <span data-bind='text: $data.passingPercentage() + "%"'></span>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-9'><strong>Result:</strong></div>
        <div class='col-md-3'>
            <strong style='color: #018F3C' data-bind='visible: $data.pass()'>PASS</strong>
            <strong style='color: #A60000' data-bind='visible: !$data.pass()'>FAIL</strong>
        </div>
    </div>

    <div class='row'>
        <div class=col-md-12'>
            <div class='pull-right'>
                <a class='btn btn-primary' data-bind='attr: {href: $data.workflowUrl()}'>Training and Quizzes</a>
            </div>
        </div>
    </div>
    </div>
</div>
