<div data-bind='with: $data.question'>
    <div class='page-header'>
        <h4 data-bind='text: $data.questionText'></h4>
    </div>
    <div class='row'>
        <div class='col-xs-6'>
            <p class=''>
                <a class='btn btn-default btn-block' style='width:100px' data-bind='click: function(){$data.answer(true);}, css: {"btn-primary": $data.answer() === true}' href='#'>True</a>
            </p>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-6'>
            <p class=''>
                <a class='btn btn-default btn-block' style='width:100px' data-bind='click: function(){$data.answer(false);}, css: {"btn-primary": $data.answer() === false}' href='#'>False</a>
            </p>
        </div>
    </div>
</div>
