<div class='container-fluid' data-bind='with: $root.workflow()'>
    <div data-bind='with: $data.workflowItem'>
        <div data-bind='template: {name: $data.template(), data: $data}'></div>
    </div>
</div>
<script id='workflowItem' type='text/html'>
    <% include workflowItem %>
</script>
<script id='quiz' type='text/html'>
    <% include quiz %>
</script>
<script id='training' type='text/html'>
    <% include training %>
</script>
<script id='root' type='text/html'>
    <% include root %>
</script>
<script id='container' type='text/html'>
    <% include container %>
</script>
