<div data-bind='with: $root.workflowList'>
    <div class="navbar navbar-static-top navbar-default" style='margin-bottom:0px'>
        <div class="">
            <div class="navbar-header">
                <h4 class='offcanvas-nav-header'>
                    <span>Training and Quizzes</span>
                </h4>
            </div>
        </div>
    </div>
    <div data-bind='foreach: $data.workflowList'>
        <div class='row'>
            <div class='col-md-11 col-md-offset-1 workflowItem hidden-xs hidden-sm'>
                <h4>
                    <span data-bind='text: $data.title'></span>
                </h4>
                <div class='row'>
                    <div class='col-md-8'>
                        <span data-bind='text: $data.description'></span>
                    </div>
                    <div class='col-md-2'></div>
                    <div class='col-md-2'>
                        <div data-bind='visible: $data.isCompleted()'>
                            <span class='glyphicon glyphicon-ok'></span>
                            <span>&nbsp; Completed.</span>
                        </div>
                        <div>
                            <a class='btn btn-sm btn-primary' data-bind='attr:{href: $data.url}' href='#'>Go &gt;</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-xs-11 col-xs-offset-1 workflowItem hidden-md hidden-lg'>
                <h4>
                    <span data-bind='text: $data.name'></span>
                </h4>
                <div class='row'>
                    <div class='col-xs-12'>
                        <span data-bind='text: $data.description'></span>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-xs-3 col-xs-offset-7'>
                        <div data-bind='visible: $data.isCompleted()'>
                            <div class='pull-right'>
                                <span class='glyphicon glyphicon-ok'></span>
                                <span>&nbsp; Completed.</span>
                            </div>
                        </div>
                    </div>
                    <div class='col-xs-2'>
                        <div class='pull-right'>
                            <div>
                                <a class='btn btn-sm btn-primary' data-bind='attr:{href: $data.url}' href='#'>Go &gt;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
