<div class='row'>
    <div class='col-md-11 col-md-offset-1 workflowItem hidden-xs hidden-sm'>
        <h4>
            <span>Quiz</span>
            <span>&nbsp;&mdash;&nbsp;</span>
            <span data-bind='text: $data.title'></span>
        </h4>
        <div class='row'>
            <div class='col-md-8'>
                <span data-bind='text: $data.description'></span>
            </div>
            <div class='col-md-2'>
                
            </div>
            <div class='col-md-2'>
                <div data-bind='visible: $data.isCompleted()'>
                    <span class='glyphicon glyphicon-ok'></span>
                    <span>&nbsp; Completed.</span>
                </div>
                <div data-bind='visible: $data.isAvailable() && !$data.isCompleted()'>
                    <a class='btn btn-sm btn-primary' data-bind='attr:{href: $data.url}' href='#'>Go &gt;</a>
                </div>
                <div data-bind='visible: !$data.isAvailable()'>
                    <i>Not available.</i>
                </div>
            </div>
        </div>
        <% include tier %>
    </div>
    <div class='col-xs-11 col-xs-offset-1 workflowItem hidden-md hidden-lg'>
        <h4>
            <span>Quiz</span>
            <span>&nbsp;&mdash;&nbsp;</span>
            <span data-bind='text: $data.name'></span>
        </h4>
        <div class='row'>
            <div class='col-xs-12'>
                <span>this is some copy about the quiz.</span>
            </div>
            
        </div>
        <div class='row'>
            <div class='col-xs-3 col-xs-offset-7'>
                <div data-bind='visible: $data.isCompleted()'>
                    <div class='pull-right'>
                        <span class='glyphicon glyphicon-ok'></span>
                        <span>&nbsp; Completed.</span>
                    </div>
                </div>
            </div>
            <div class='col-xs-2'>
                <div class='pull-right'>
                <div data-bind='visible: $data.isAvailable() && !$data.isCompleted()'>
                    <a class='btn btn-sm btn-primary' data-bind='attr:{href: $data.url}' href='#'>Go &gt;</a>
                </div>
                <div data-bind='visible: !$data.isAvailable()'>
                    <i>Not available.</i>
                </div>
                </div>
            </div>
        </div>
        <% include tier %>
    </div>

</div>
