
<div data-bind='if: ($data.sequence || []).length > 0'>
    <div data-bind='foreach: $data.sequence'>
        <div>
            <div data-bind='template:{name: $data.template(), data: $data}'></div>
        </div>
    </div>
</div>
<div data-bind='if: ($data.items || []).length > 0'>
    <div data-bind='foreach: $data.items'>
        <div>
            <div data-bind='template:{name: $data.template(), data: $data}'></div>
        </div>
    </div>
</div>
